.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 92px 50px 96px 50px;
    align-items: center;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item {
    text-decoration: underline;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.address {
    justify-self: end;
    max-width: 240px;
    font-style: normal;
}

/* Начало секции cover */

.cover {
    position: relative;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 180px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: auto;
}

.cover__title {
    position: relative;
    font-weight: bold;
    font-size: 100px;
    line-break: auto;
    color: #FFF;
    letter-spacing: 30px;
    line-height: 1.15;
}

.accent__span {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
    margin-bottom: 106px;
}

.description {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;
}

.description__text {
    position: relative;
    line-height: 28px;
    color: #FFF;
    word-spacing: 16px;
    text-transform: uppercase;
}

.bet__button {
    position: relative;
    padding: 12px 32px;
    background-color: transparent;
    color: #FFF;
    border: solid #fff 1px;
    text-transform: uppercase;
}

/* Начало секции lots */

.lots {
    padding: 0 24px 2px 24px;
    margin-bottom: 120px;
}

.lots__heading {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    list-style: none;
    width: 334px;
    min-height: 596px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    background-size: cover;
    background-position: center;
}

.card-link, .card {
    height: 100%;
    color: #FFF;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    font-weight: bold;
    text-decoration: underline;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.2;
}

.card__text {
    position: relative;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 30px;
}

/* Начало секции about */

.about {
    display: grid;
    grid-template-columns: 334px auto;
    grid-template-rows: 596px auto;
    padding: 35px 24px 0px 47px;
    margin-bottom: 180px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 100px;
    padding-top: 98px;
    text-transform: uppercase;
}

.about__text {
    display: block;
    font-size: 20px;
    line-height: 24px;
    line-break: auto;
    margin-bottom: 24px;
}


/* Начало секции footer */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1px 50px 82px 50px;
    font-size: 18px;
}

.footer .address {
    justify-self: start;
}

.footer__menu-list {
    text-align: center;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    justify-content: end;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}